#graphStage{
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px #999;
    background-color: rgba(211,211,211,1);
}
.btnPg{
    float: right; 
    cursor: pointer; 
    font-size: 24px;
    padding: 5px 5px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px #999;
    color: rgba(148,0,211,1);
    background-color: rgba(211,211,211,1);
    font-family: 'Georgia';
}
.btnPg:hover{
    background: rgba(180,180,180,1);
}
body{
    background-color: rgba(148,0,211,1);
}